*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 100px auto;
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 30px;
    position:sticky;
    /* width: 96%; */
    top: 0;
    z-index: 2;
}
.nav-right ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-left a span{
    font-weight: bold;
    text-transform:  uppercase;
    padding-right: 10px;
}
.nav-left a{
    font-size: 16px;
    color: #000;
    padding: 10px;
    transition: 0.7;
    letter-spacing: 2px;
}
.nav-left a:hover{
    background-color: #ccc;
}
.nav-right a{
    font-size: 16px;
    color: #000;
    padding: 10px;
    transition: 0.7;
    letter-spacing: 2px;
}
.nav-right a:hover{
    background-color: #ccc;
}
/* header */
header{
    height: 100vh;
    background-image: url(image/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header h2{
    position: absolute;
    top: 50%;
    left: 42%;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    font-size: 28;
}
header h2 span{
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 15px;
    background-color: #000;
    opacity: .5;
}
/* project */
.cards{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card{
    width: 24%;
    position: relative;

}
.card img{
    width: 100%;
}
.card p{
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 10px;
    top: 0;
}
hr{
    opacity: .5;
    margin: 30px;
}
/* about */
.main-p{
    line-height: 1.8;
    font-size: 18px;
    color: grey;
}
.chars{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}
.char{
    width: 24%;
}
.char img{
    width: 100%;
}
.char > *{
    padding: 10px;
}
.char h4{
    opacity: 0.5;
}
.char p{
    line-height: 1.5;
}
.char button{
    width: 100%;
    border: none;
    /* background-color: #ccc; */
    cursor: pointer;
    font-size: 18px;
    transition: 0.7;
}
.char button:hover{
    background-color: #ccc;
}
/* contact */
.contact p{
    margin-bottom: 40px;
}
.contact input{
    display: block;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}
.contact button{
    background-color: #000;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s ;
}
.contact button:hover{
    background-color: #ccc;
    color: #000;
}

.map img{
    width: 100%;
}
/* footer */
.foot{
    background-color: #000;
    /* width: 100%; */
    margin-top: -95px;
    padding: 50px;
    text-align: center;
}
footer p{
    color: #fff;
}
/* media */
@media screen and (max-width : 480px){
    nav{
        padding: 20px;
    }
    nav .nav-right ul{
        display: none;
    }
    /* nav .menu{
        display: block;
    } */

    header h2{
        left: 10%;
    
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }

    .chars{
        flex-direction: column;
    }
    .char{
        width: 100%;
    }
}
@media screen and (min-width : 481px) and (max-width : 768px){
    nav{
        padding: 20px;
    }
    nav .nav-right ul{
        display: none;
    }
    nav .menu{
        display: block;
    }

    header h2{
        left: 40%;
    
    }
    .card{
        width: 48%;
    }
    .char{
        width: 48%;
    }
}